@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
body {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.cart-hover {
  width: 450px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}

.cart-hover .rounded-10 {
  width: 113px;
  height: 90px;
}

.cart-hover input[type=number] {
  width: 30px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  color: currentColor;
}

.bg-yellow {
  background-color: #F8CD00;
}

.bg-gray {
  background-color: #DEDEDD;
}

.bg-gray-light {
  background-color: #F2F2F2;
}

.bg-dark-blue {
  background: #2D4961;
}

.linear {
  background: -webkit-gradient(linear, right top, left top, from(#EF5B16), to(rgba(253, 201, 0, 0))), #FDC900;
  background: linear-gradient(270deg, #EF5B16 0%, rgba(253, 201, 0, 0) 100%), #FDC900;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: 'Montserrat', sans-serif;
}

h1,
.h1 {
  font-weight: 700;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fs-5 {
  line-height: 24px;
}

h2,
.h2,
h3,
.h3 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h4,
.h4 {
  font-weight: 500;
}

.shadow-box {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.bttn {
  display: inline-block;
  color: white;
  border-radius: 500px;
  background-color: #EFA507;
  padding: 8px 32px;
  font-size: 20px;
  line-height: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  white-space: nowrap;
}

.bttn-lg {
  padding: 15px 40px;
}

button {
  border: none;
  background-color: transparent;
}

.dashed {
  border-bottom: 1px dashed #EFA507;
}

.banner .linear {
  padding: 8px 80px 8px 100px;
}

.banner img {
  width: 459px;
  height: 372px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.banner .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: transparent;
  opacity: 1;
  border: 1px solid #8D8D8D;
}

.banner .swiper-pagination-bullet-active {
  background-color: #8D8D8D;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 24px;
}

.categ-section .row .rounded-30 {
  height: 230px;
}

.categ-section .row a {
  background: rgba(255, 255, 255, 0.5);
}

.translucent {
  background: rgba(255, 255, 255, 0.5);
}

.have-question .form-control {
  padding: 8px 16px 8px 24px;
  line-height: 24px;
  border: none;
}

legend {
  float: none;
}

.form-control::-webkit-input-placeholder {
  color: #8D8D8D;
}

.form-control:-ms-input-placeholder {
  color: #8D8D8D;
}

.form-control::-ms-input-placeholder {
  color: #8D8D8D;
}

.form-control::placeholder {
  color: #8D8D8D;
}

.form-check {
  padding-left: 0;
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
}

.form-check-input:checked {
  background-color: #EFA507;
  border-color: #EFA507;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("../img/icons/check.svg");
}

.form-control::after {
  content: 'мм';
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.form-check .form-check-input {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #C4C4C4;
  float: none;
  margin: 0;
  margin-right: 16px;
}

.form-check .form-check-input[type=checkbox] {
  border-radius: 5px;
}

.form-check .form-check-input[type=checkbox]:checked {
  background-image: url("../img/icons/check.svg");
}

.form-check .form-check-input[type=radio] {
  border-radius: 50%;
}

.form-check .form-check-input[type=radio]:checked {
  background-image: url("../img/icons/checked-radio.svg");
  background-size: contain;
}

.c-accent {
  color: #F8CD00;
}

.services-section .rounded-30 {
  height: 260px;
}

.services-section .rounded-30 img {
  -o-object-fit: cover;
     object-fit: cover;
}

.news-section .swiper-slide {
  height: unset;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  border: 1px solid #CACACA;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.news-section .swiper-slide img {
  height: 200px;
}

.news-section .swiper-slide time {
  color: #8D8D8D;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-30 {
  border-radius: 30px;
  overflow: hidden;
}

.breadcrumb {
  display: block;
  color: #4B4B4B;
  font-family: 'Roboto', sans-serif;
}

.breadcrumb-item {
  display: inline-block;
}

.breadcrumb-item.active {
  color: currentColor;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  content: '\203A';
}

.about-bg {
  background: url("../img/images/about.jpg") no-repeat center;
}

.about-bg .offset-lg-6 {
  background: rgba(244, 244, 244, 0.6);
}

.about-bg .offset-lg-6::after {
  content: '';
  width: 100%;
  height: 100%;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.advantages {
  padding-top: 60px;
  padding-bottom: 80px;
}

.advantages .row span.fw-bold {
  color: rgba(248, 205, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-size: 144px;
  line-height: 78px;
}

.our-production .swiper-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.our-production .swiper-wrapper {
  padding: 5% 0;
}

.our-production .swiper-slide {
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 10px;
  overflow: hidden;
}

.our-production .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 14vh;
}

.our-production .swiper-slide.swiper-slide-active {
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: 3;
  -webkit-filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
}

.our-production .swiper-slide.swiper-slide-prev, .our-production .swiper-slide.swiper-slide-next {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 2;
}

.our-production .swiper-button-next {
  right: 4vw;
}

@media screen and (min-width: 1660px) {
  .container {
    max-width: 1624px;
  }
}
/*# sourceMappingURL=style.css.map */