@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
$yellow: #F8CD00;
$orange: #EFA507;
$white: white;
$black: black;
$gray: #DEDEDD;
$gray-light: #F2F2F2;
$dark-blue: #2D4961;
$placeholder: #8D8D8D;
$transparent: transparent;
body {
    color: $black;
    font-family: 'Open Sans', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.cart-hover {
    width: 450px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    .rounded-10 {
        width: 113px;
        height: 90px;
    }
    input[type=number] {
        width: 30px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        color: currentColor;
    }
}

.bg {
    &-yellow {
        background-color: $yellow;
    }
    &-gray {
        background-color: $gray;
    }
    &-gray-light {
        background-color: $gray-light;
    }
    &-dark-blue {
        background: #2D4961;
    }
}

.linear {
    background: linear-gradient(270deg, #EF5B16 0%, rgba(253, 201, 0, 0) 100%), #FDC900;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-family: 'Montserrat', sans-serif;
}

h1,
.h1 {
    font-weight: 700;
}

.fw {
    &-5 {
        font-weight: 500;
    }
    &-6 {
        font-weight: 600;
    }
}

.fs-5 {
    line-height: 24px;
}

h2,
.h2,
h3,
.h3 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    // font-size: 36px;
    // line-height: 44px;
}

h4,
.h4 {
    font-weight: 500;
}

.shadow-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

img {
    object-fit: cover;
}

.bttn {
    display: inline-block;
    color: $white;
    border-radius: 500px;
    background-color: $orange;
    padding: 8px 32px;
    font-size: 20px;
    line-height: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    white-space: nowrap;
    &-lg {
        padding: 15px 40px;
    }
}

button {
    border: none;
    background-color: transparent;
}

.dashed {
    border-bottom: 1px dashed #EFA507;
}

.banner {
    .linear {
        padding: 8px 80px 8px 100px;
    }
    img {
        width: 459px;
        height: 372px;
        object-fit: contain;
        object-position: center;
    }
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background: $transparent;
        opacity: 1;
        border: 1px solid $placeholder;
        &-active {
            background-color: $placeholder;
        }
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 24px;
}

.categ-section {
    .row {
        .rounded-30 {
            height: 230px;
        }
        a {
            background: rgba(255, 255, 255, 0.5);
        }
    }
}

.translucent {
    background: rgba(255, 255, 255, 0.5);
}

.have-question {
    .form-control {
        padding: 8px 16px 8px 24px;
        line-height: 24px;
        border: none;
    }
}

legend {
    float: none;
}

.form-control {
    &::placeholder {
        color: $placeholder;
    }
}

.form-check {
    padding-left: 0;
}

.form-check-input {
    width: 1.5em;
    height: 1.5em;
    &:checked {
        background-color: $orange;
        border-color: $orange;
        &[type=checkbox] {
            background-image: url('../img/icons/check.svg');
        }
    }
}

.form-control {
    &::after {
        content: 'мм';
    }
}

.form-check {
    display: flex;
    padding: 0;
    & &-input {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        border: 1px solid #C4C4C4;
        float: none;
        margin: 0;
        margin-right: 16px;
        // &:focus {
        // border-color: $accent;
        // box-shadow: 0 0 0 0.25rem rgba($accent, 0.4);
        // }
    }
    & &-input[type=checkbox] {
        border-radius: 5px;
        &:checked {
            // background-color: $accent;
            // border-color: $accent;
            background-image: url('../img/icons/check.svg');
        }
    }
    & &-input[type=radio] {
        border-radius: 50%;
        // background-color: $light-gray;
        &:checked {
            // border-color: $accent;
            // background-color: rgba($accent, 0.3);
            background-image: url('../img/icons/checked-radio.svg');
            background-size: contain;
        }
    }
}

.c-accent {
    color: $yellow;
}

.services-section {
    .rounded-30 {
        height: 260px;
        img {
            object-fit: cover;
        }
    }
}

.news-section {
    .swiper-slide {
        height: unset;
        border-radius: 10px;
        overflow: hidden;
        background: $white;
        border: 1px solid #CACACA;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        img {
            height: 200px;
        }
        time {
            color: $placeholder;
        }
    }
}

.rounded {
    &-10 {
        border-radius: 10px;
    }
    &-30 {
        border-radius: 30px;
        overflow: hidden;
    }
}

.breadcrumb {
    display: block;
    color: #4B4B4B;
    font-family: 'Roboto', sans-serif;
    &-item {
        display: inline-block;
        &.active {
            color: currentColor;
        }
        +.breadcrumb-item::before {
            float: none;
            content: '\203A';
        }
    }
}

.about-bg {
    background: url('../img/images/about.jpg') no-repeat center;
    .offset-lg-6 {
        background: rgba(244, 244, 244, 0.6);
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            filter: blur(4px);
        }
    }
}

.advantages {
    padding-top: 60px;
    padding-bottom: 80px;
    .row {
        span.fw-bold {
            color: rgba($yellow, 0.3);
            font-family: 'Montserrat', sans-serif;
            font-size: 144px;
            line-height: 78px;
        }
    }
}

.our-production {
    .swiper-container {
        height: fit-content;
    }
    .swiper-wrapper {
        padding: 5% 0;
    }
    .swiper-slide {
        height: 100%;
        transition: all 0.2s;
        transform: scale(1);
        border-radius: 10px;
        overflow: hidden;
        img {
            object-fit: cover;
            object-position: center;
            height: 14vh;
        }
        &.swiper-slide-active {
            transform: scale(2);
            z-index: 3;
            filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
        }
        &.swiper-slide-prev,
        &.swiper-slide-next {
            transform: scale(1.5);
            z-index: 2;
        }
    }
    .swiper-button-next {
        right: 4vw;
    }
}

@media screen and (min-width: 1660px) {
    .container {
        max-width: 1624px;
    }
}